{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        Quickly clear your text in one click!
    </h1>
    <h2 class="subtitle">
        Upload a dirty image and display the result</h2>
    <form method="POST" enctype="multipart/form-data" action="/home">
        <input type="file" name="image">
        <input type="submit" value="Submit">
    </form>
    <br>
    <p style="color:green;">File uploaded successfully</p>
    <div id="result"></div>
    {% if processed_img %}
      <img src="{{ url_for('processed', filename=processed_img) }} " width="270" height="210">
    {% endif %}
    <br>
    <a href="{{url_for('download', filename=processed_img)}}">
        <button type="submit">Save Result</button>
    </a>
{% endblock %}